$testColor: #dee04b;

body {
  background-color: black;
}
#all {
  display: flex;
  //background-color: #888888;
  //color: #8abdff;
}
#root {
  width: 100vw;
  height: 95vh;
  border: 2px solid #ffff1b;
  background-color: #888888;
}
